build/
.env
dist/
*.egg-info/
**/__pycache__/
*.pyc
*.so
*.pyd
*.dll
*.exp
*.lib
.pytest_cache/
.ninja_deps
.ninja_log
torch_tvarant/_C*
*.obj
*.pdb
third_party/winsdk/
third_party/pylibs/
csrc/compat/
.DS_Store